body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* ← 高さを揃える */
}